<div *ngIf="!modal.isMobile" class="container">
  <div mat-dialog-title class="dialog-title">
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="main-info">
    <div class="profile-info">
      <img class="profile-img" [src]="modal.project.iconUrl ? modal.project.iconUrl : 'assets/imgs/img_profile_orange_portfolio.png'" alt="Ícone de perfil do usuário {{modal.project.userName}}" title="Ícone de perfil do usuário {{modal.project.userName}}">
      <span id="username">{{ modal.project.userName}} {{ modal.project.lastName }}<br> <span id = "date">{{currentDate()}}</span>
    </span>
    </div>
    <h5 id="project-title">{{modal.project.title}}</h5>
    <div class ="tags">
      <mat-chip-set *ngIf="modal.project.tags && !(modal.project.tags.length === 1 && modal.project.tags[0] == '')">
        <mat-chip *ngFor="let tag of modal.project.tags">{{tag}}</mat-chip>
      </mat-chip-set>
    </div>
  </div>
  <!-- carregar componente de upload-->
  <div class="upload-img">
    <div class="projects">
      <img [src]="modal.project.imgUrl ? modal.project.imgUrl : 'assets/imgs/default-project-orange-portfolio.png'" class="project-cover"  title="{{ modal.project.imgDescription || 'Imagem do Projeto' }}"  />
    </div>
  </div>
  <div class="project-description">
    <p class="description">{{modal.project.description}}<br><br></p>
    <p *ngIf="modal.project.link"> Download <br> <a (click)="goTo(modal.project.link)"
        target="_blank">{{modal.project.link}}</a></p>
  </div>
</div>

<div *ngIf="modal.isMobile" class="container-mobile">
  <div mat-dialog-title class="dialog-title">
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
  <div class="container-data">
    <h5>{{modal.project.title}}</h5>
    <app-project-card class="projects-list" [projects]="[modal.project]" [edit]="false" [cover]="false"></app-project-card>
    <div class="project-description">
      <p class="text-description">{{modal.project.description}}<br><br></p>
      <p *ngIf="modal.project.link"> Download <br> <a (click)="goTo(modal.project.link)"
          target="_blank">{{modal.project.link}}</a></p>
    </div>
  </div>
</div>
