<app-nav-bar></app-nav-bar>
<div class="container">
  <h5 class="title">Junte-se à comunidade de inovação, inspiração e descobertas, transformando experiências em conexões
    inesquecíveis</h5>

  <div class="projects">
    <form [formGroup]="searchForm" action="">
      <mat-form-field class="input" appearance="outline">
        <mat-label>Buscar tags</mat-label>
        <input type="text" formControlName="search" matInput>
      </mat-form-field>
    </form>
    <div class="list-projects">
      <ng-container *ngIf="searchResultEmpty; else hasResults">
        <div>Sem resultados.</div>
      </ng-container>
      <ng-template #hasResults>
        <div *ngIf="searchProjects.length || projects">
          <app-project-card *ngIf="searchProjects.length || projects" class="projects-list"
            [projects]="searchProjects.length ? searchProjects : projects" ></app-project-card>
        </div>
      </ng-template>
    </div>
  </div>
</div>