.container-card {
  cursor: pointer;
}

.project-card {
  width: 19.5rem;
  position: relative;
  box-shadow: none !important;
}

.project-header-image {
  background-size: cover;
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.mat-mdc-card-header {
  padding: 0;
  padding-top: 1rem;
}
.img-card {
  max-width: 20.063rem;
  max-height: 16.125rem;
  min-width: 20.063rem;
  min-height: 16.125rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.img-card-no-cover {
  border-radius: 0.5rem;
}

.button-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 0.5rem;
}

.radios-btn {
  z-index: inherit;
  background-color: var(--Secondary-70, #fc9);
}

p {
  margin-left: 0.2rem;
  font-size: 1rem !important;
}

.card-infos {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.data-user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.chips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media screen and (min-width: 992px) {
  .project-card {
    width: 24.3125rem;
  }

  .img-card {
    max-width: 24.313rem;
    max-height: 16.125rem;
    min-width: 24.313rem;
    min-height: 16.125rem;
    border-radius: 0.5rem;
  }
}
