<app-nav-bar></app-nav-bar>
<div class="container">
  <h5 class="title">
    Busque inspiração através de outros usuários, compartilhando ideias e formando amizades
  </h5>
  <form class="form" [formGroup]="searchForm" action="">
    <mat-form-field class="input" appearance="outline">
      <mat-label>Buscar Usuários</mat-label>
      <input type="text" formControlName="search" matInput [matAutocomplete]="auto" />

      <mat-autocomplete #auto="matAutocomplete"
        (optionSelected)="loadUserProjects($event.option.value.id, $event.option.value.name, $event.option.value.lastName, $event.option.value.iconUrl)">
        <mat-option *ngFor="let user of filteredUsers$ | async" [value]="user">
          {{ user.name }} {{ user.lastName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div class="users">
    <div class="users">
      <ng-container *ngIf="users$ | async as users">
        <ng-container *ngIf="users.length > 0 || !searched; else noUsers">
          <button (click)="loadUserProjects(user.id, user.name, user.lastName, user.iconUrl)"
            *ngFor="let user of users">
            <img class="profile-img" [src]="user.iconUrl || defaultIcon" alt="Ícone de perfil do usuário {{user.name}}"
             />
            <h5>{{ user.name }} {{ user.lastName }}</h5>
          </button>
        </ng-container>
      </ng-container>
      <ng-template #noUsers>
        <p>Nenhum usuário encontrado.</p>
      </ng-template>
    </div>
  </div>
</div>