<ng-container *ngIf="user$ | async as user">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button class="button-menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu button" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu class="mat-menu" #menu="matMenu">
        <div class="info-user">
          <div class="info-user-text">
            <span id="username-info">{{ user.name }}</span>
            <span id="username-email-info">{{ user.email }}</span>
          </div>
        </div>
        <div class="divider">
          <div class="divider-row"></div>
        </div>
        <div class="sections" role="menu">
          <button *ngIf="isMobile" mat-menu-item routerLink="/profile/info" role="menuitem" aria-label="Meu perfil">
            <mat-icon>person</mat-icon>
            <span class="sections-text">Meu perfil</span>
          </button>

          <button mat-menu-item (click)="goToProjects($event)" role="menuitem" aria-label="Meus projetos">
            <span class="sections-text">Meus projetos</span>
          </button>

          <button mat-menu-item (click)="goToDiscover($event)" role="menuitem" aria-label="Descobrir">
            <span class="sections-text">Descobrir</span>
          </button>

          <button mat-menu-item (click)="goToSearch($event)" role="menuitem" aria-label="Buscar">
            <span class="sections-text">Buscar</span>
          </button>

          <div class="divider" role="separator" aria-hidden="true">
            <div class="divider-row"></div>
          </div>

          <button mat-menu-item (click)="signOut()" role="menuitem" aria-label="Sair da aplicação">
            <mat-icon>exit_to_app</mat-icon>
            <span class="sections-text">Sair</span>
          </button>
        </div>
      </mat-menu>
      <div class="right-side">
        <div class="div-logo">
          <a routerLink="/profile" accesskey="1">
            <mat-icon id="icon-logo" svgIcon="Logo Orange Juice" aria-label="Logomarca do Orange Portfolio"
            title="Logomarca do Orange Portfolio">menu</mat-icon>
          </a>
        </div>
        <div class="sections" fxShow.gt-sm fxHide.lt-md>
          <a id="my-projects" href="#" (click)="goToProjects($event)" accesskey="2">Meus Projetos</a>
          <a class="link-menu" href="#" (click)="goToDiscover($event)" accesskey="3">Descobrir</a>
          <a class="link-menu" href="#" (click)="goToSearch($event)" accesskey="4">Buscar</a>
        </div>
      </div>
      <div class="div-icons">
        <a class="div-profile-img" href = "#" routerLink="/profile/info" *ngIf="isMobile">
          <img class="profile-img" [src]="user.iconUrl || defaultIcon" alt="Ícone de perfil do usuário {{ user.name }}" title="Ícone de perfil do usuário {{ user.name }}" />
        </a>
        <a class="div-profile-img" href = "#" *ngIf="!isMobile" [matMenuTriggerFor]="menu2"
        (click)="onMenuClick($event)"
        accesskey="5">
          <img class="profile-img" [src]="user.iconUrl || defaultIcon" alt="Ícone de perfil do usuário {{ user.name }}" title="Ícone de perfil do usuário {{ user.name }}" />
        </a>
        <mat-menu class="mat-menu" #menu2="matMenu">
          <div class="info-user">
            <div class="info-user-text">
              <span id="username-info" href="#">{{ user.name }}</span>
              <span id="username-email-info" href="#">{{ user.email }}</span>
            </div>
          </div>
          <div class="divider">
            <div class="divider-row"></div>
          </div>
          <div class="sections">
            <a href="/profile/info" mat-menu-item>
              <mat-icon>person</mat-icon>
              <span class="sections-text">Meu perfil</span>
            </a>
            <button (click)="signOut()" mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span class="sections-text">Sair</span>
            </button>
          </div>
        </mat-menu>
        <!--<div class="div-icon-notification">
          <a class="div-icon" mat-icon-button routerLink=".">
            <mat-icon id="icon-notification" svgIcon="Icon Notification">menu</mat-icon>
          </a>
        </div>-->
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-container>