<ng-container *ngIf="user$ | async as user">
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <div class="profile">
      <div>
        <img
          class="profile-img"
          *ngIf="selectedImage"
          [src]="
            selectedImage ||
            (user.iconUrl ? user.iconUrl : 'assets/imgs/img_profile_orange_portfolio.png')
          "
          alt="Ícone de perfil do usuário {{user.name}}" title="Ícone de perfil do usuário {{user.name}}"
        />
        <img
          class="profile-img"
          *ngIf="!selectedImage"
          [src]="user.iconUrl ? user.iconUrl : 'assets/imgs/img_profile_orange_portfolio.png'"
          alt="Ícone de perfil do usuário {{user.name}}" title="Ícone de perfil do usuário {{user.name}}"
        />
      </div>
      <div class="user-data">
        <h5>{{ user.name }} {{ user.lastName }}</h5>
        <p>{{user.country}}</p>
        <div class="create-project">
          <input
            #fileInput
            type="file"
            (change)="onFileSelected($event)"
            accept="image/jpeg, image/png"
            class="hidden-input"
          />
          <button mat-raised-button (click)="triggerFile(fileInput)" class="btn-secondary">
            SELECIONAR NOVA FOTO DE PERFIL
          </button>
          <span
            >*para confirmar a alteração da foto de perfil, clique em atualizar informações!</span
          >
        </div>
      </div>
    </div>

    <div class="form-container">
      <ng-container *ngIf="formProfile">
        <form [formGroup]="formProfile" class="form" action="">
          <div class="sub-form">
            <mat-form-field class="input" appearance="outline">
              <mat-label>Nome</mat-label>
              <input type="text" matInput formControlName="name" />
              <mat-error *ngIf="formProfile.get('name')?.invalid">{{
                formErrorMessage("name")
              }}</mat-error>
            </mat-form-field>
            <mat-form-field class="input" appearance="outline">
              <mat-label>Sobrenome</mat-label>
              <input type="text" matInput formControlName="lastName"/>
              <mat-error *ngIf="formProfile.get('lastName')?.invalid">{{
                formErrorMessage("lastName")
              }}</mat-error>
            </mat-form-field>
          </div>

          <mat-form-field class="input" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput formControlName="email" readonly/>
            <mat-error *ngIf="formProfile.get('email')?.invalid">{{
              formErrorMessage("email")
            }}</mat-error>
          </mat-form-field>
          <form [formGroup]="formCountry">
            <mat-select-country
              appearance="outline"
              label="País"
              formControlName="country"
              [itemsLoadSize]="5"
            >
            </mat-select-country>
          </form>
          <div class="div-btn-signin">
            <!-- <button (click)="updateProfile()" [disabled]="loading" mat-raised-button class="btn-primary"> -->
            <button
              (click)="updateProfile()"
              [disabled]="isButtonDisabledProfile()"
              mat-raised-button
              class="btn-primary"
            >
              <mat-progress-spinner
                *ngIf="loading"
                diameter="24"
                mode="indeterminate"
                [color]="loading ? 'var(--color-principal-70)' : '#edeff2'"
              ></mat-progress-spinner>
              <span *ngIf="!loading">ATUALIZAR INFORMAÇÕES</span>
            </button>
          </div>
        </form>
      </ng-container>
      <div *ngIf="!isGoogleLogin" class="password-conteiner">
        <p>Alterar senha</p>
        <ng-container *ngIf="formPassword">
          <form *ngIf="formPassword" [formGroup]="formPassword" class="form" action="">
            <mat-form-field class="input" appearance="outline">
              <mat-label>Senha antiga</mat-label>
              <input type="{{ currentPassword }}" matInput formControlName="currentPassword" />
              <mat-icon (click)="onClick('current')" *ngIf="!visibilityCurrent" matSuffix
                >visibility</mat-icon
              >
              <mat-icon (click)="onClick('current')" *ngIf="visibilityCurrent" matSuffix
                >visibility_off</mat-icon
              >
              <mat-error *ngIf="formPassword.get('currentPassword')?.invalid">{{
                formErrorMessagePassword("currentPassword")
              }}</mat-error>
            </mat-form-field>
            <mat-form-field class="input" appearance="outline">
              <mat-label>Nova senha</mat-label>
              <input type="{{ newPassword }}" matInput formControlName="newPassword" />
              <mat-error *ngIf="formPassword.get('newPassword')?.invalid">{{
                formErrorMessagePassword("newPassword")
              }}</mat-error>
              <mat-icon (click)="onClick('new')" *ngIf="!visibilityNew" matSuffix
                >visibility</mat-icon
              >
              <mat-icon (click)="onClick('new')" *ngIf="visibilityNew" matSuffix
                >visibility_off</mat-icon
              >
            </mat-form-field>
            <div class="div-btn-signin">
              <p *ngIf="hasError" class="error-message">{{ hasError }}</p>
              <!-- <button (click)="updatePassword()" [disabled]="loadingPassword" mat-raised-button class="btn-primary"> -->
              <button
                (click)="updatePassword()"
                [disabled]="isButtonDisabledPassword()"
                mat-raised-button
                class="btn-primary"
              >
                <mat-progress-spinner
                  *ngIf="loadingPassword"
                  diameter="24"
                  mode="indeterminate"
                  [color]="loadingPassword ? 'var(--color-principal-70)' : '#edeff2'"
                ></mat-progress-spinner>
                <span *ngIf="!loadingPassword">ATUALIZAR SENHA</span>
              </button>
            </div>
          </form>
        </ng-container>
        <span class="password"
          >*A senha deve conter pelo menos 8 caracteres, incluindo letras maiúsculas, minúsculas e
          números</span
        >
      </div>
    </div>
  </div>
</ng-container>
