<h5 mat-dialog-title>{{modal.name}}</h5>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <div class="div-form">
      <form [formGroup]="form">
        <div class="sub-fomulario">
          <mat-form-field class="input" id="nameField" appearance="outline">
            <mat-label>Título</mat-label>
            <input matInput formControlName="title" />
            <mat-error *ngIf="form.get('title')?.invalid">{{formErrorMessage("title")}}</mat-error>
          </mat-form-field>
          <mat-form-field class="input" appearance="outline" [floatLabel]="tags.length > 0 ? 'always' : 'auto'">
            <mat-label>Tags</mat-label>
            <mat-chip-grid #chipGrid aria-label="Enter Tags" [formControl]="formControl">
              <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">
                {{ tag }}
                <button matChipRemove aria-label="'remove ' + tag">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-grid>
            <input matInput #tagsInput formControlName="tags"
              [placeholder]="isFieldClicked ? 'Digite uma tag e pressione enter' : ''" [matChipInputFor]="chipGrid"
              (matChipInputTokenEnd)="addTag($event)" [matAutocomplete]="auto" (focus)="isFieldClicked = true"
              (blur)="isFieldClicked = false" />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                {{ tag }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="tags.length === 0">{{"Digite uma tag e pressione enter"}}</mat-error>
          </mat-form-field>
        </div>
        <mat-form-field class="input" appearance="outline">
          <mat-label>Link</mat-label>
          <input matInput formControlName="link" />
          <mat-error *ngIf="form.get('link')?.invalid">{{formErrorMessage("link")}}</mat-error>
        </mat-form-field>
        <mat-form-field id="description-field" class="input" appearance="outline">
          <mat-label>Descrição</mat-label>
          <textarea matInput formControlName="description" rows="5" cols="50"></textarea>
          <mat-error *ngIf="form.get('description')?.invalid">{{formErrorMessage("description")}}</mat-error>
        </mat-form-field>
      </form>
    </div>
    <!-- carregar componente de upload-->
    <div class="upload-img">
      <p class="subtitle-2">Selecione o conteúdo que você deseja fazer upload</p>
      <div class="projects">
        <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/jpeg, image/png"
          class="hidden-input" />
        <button (click)="triggerFile(fileInput)">
          <div *ngIf="!selectedImage" class="empty-projects">
            <span class="add-project">
              <mat-icon class="mat-18">collections</mat-icon>
              <label>Compartilhe seu talento com milhares de pessoas</label>
            </span>
          </div>
          <img *ngIf="selectedImage" class="project-cover" [src]="selectedImage" alt="Imagem selecionada" />
        </button>
      </div>
    </div>
  </div>
  <div class="div-finish-modal">
    <a type="button" (click)="viewProject()" class="subtitle-1"> Visualizar publicação</a>
    <mat-dialog-actions class="button-container">
      <button *ngIf="modal.name === 'Adicionar Projeto'" class="button-save" (click)="addProject()" mat-button
        mat-dialog-close [disabled]="isButtonDisabled()">SALVAR</button>
      <button *ngIf="modal.name === 'Editar Projeto'" class="button-save" (click)="editProject()" mat-button
        mat-dialog-close [disabled]="isButtonDisabled()">SALVAR</button>
      <button id="button-cancel" mat-button mat-dialog-close cdkFocusInitial>
        CANCELAR
      </button>
    </mat-dialog-actions>
  </div>
</mat-dialog-content>